{% extends "base.html" %}
{% block style %}
	{% include "styles_about.html" %}
{% endblock %}
{% block header %}
	{% include "header.html" %}
{% endblock %}
{% block body %}
	<div class="content">
		<span class="text">
			Kомпания, основанная в 2005 году, сегодня является лидером на рынке лицензионных электронных книг в России и странах СНГ.
			Ассортимент насчитывает:
			- 1 000 000 электронных книг на русском и иностранных языках
			- 48 000 бесплатных книг
			- 65 000 аудиокниг
			- 5 000 новых книг каждый месяц
			Ежемесячная аудитория сервисов компании составляет 12,5 млн человек, которые скачивают более 1,5 млн книг в месяц.

			Компания разработала 25 приложений для чтения и прослушивания электронных книг.

			Приложение «Читай!» расширяет возможности поиска книг. Теперь электронную книгу можно найти, сфотографировав обложку бумажной книги.
			Библиотека каждого пользователя и его закладки синхронизируются на всех устройствах, что позволяет продолжать чтение или прослушивание книги на другом устройстве с нужного момента.
			ЛитРес дает возможность бесплатно прочитать или прослушать до 20% любой электронной или аудиокниги.

			Компания сотрудничает с государственными библиотеками. «Библиотека» – это самый большой библиотечный каталог современной литературы в электронном формате.
			Здесь представлено более 200 000 электронных и аудиокниг, среди которых – актуальные бестселлеры и классика, а также произведения на иностранных языках.
			Важной особенностью сервиса является возможность чтения книг непосредственно на мобильных устройствах читателей.

			На базе виртуальной библиотеки запущен проект «ЛитРес: Школа», участниками которого уже стали 2000 российских школ.
			Данным сервисом воспользовались более 65 тысяч школьников.
		</span>
    </div>
{% endblock %}
{% block footer %}
	{% include "footer.html" %}
{% endblock %}