{% extends "base.html" %}
{% block style %}
	{% include "styles_index.html" %}
    {% include "styles_login.html" %}
{% endblock %}
{% block header %}
	{% include "header.html" %}
{% endblock %}
{% block body %}
    <div>
        <form method="post">
            <label>
                <input type="text" name="name" placeholder="Название">
            </label>
            <button type="submit" class="btn">
                <span class="text">Добавить</span>
            </button>
        </form>
    </div>
    <div>
        <button class="btn">
            <a class="reg_link" href="/books_list/?id={{id}}">
                <span class="text">Назад</span>
            </a>
        </button>
    </div>
{% endblock %}