{% extends "base.html" %}
{% block style %}
	{% include "styles_index.html" %}
    {% include "styles_login.html" %}
{% endblock %}
{% block header %}
	{% include "header.html" %}
{% endblock %}
{% block body %}
    <h1>Список авторов</h1>
    <div>
        {% for item in objects_list %}
        <li>
            {{item.first_name}}
            {{item.last_name}}
        </li>
        {% endfor %}
    </div>
    <button class="btn">
         <a class="reg_link" href="/create_author/">
             <span class="text">Создать автора</span>
        </a>
    </button>
    <button class="btn">
         <a class="reg_link" href="/add_author/">
             <span class="text">Добавить книге автора</span>
        </a>
    </button>
    <button class="btn">
        <a class="reg_link" href="/category_list/">
            <span class="text">Назад</span>
        </a>
    </button>


{% endblock %}