{% extends "base.html" %}
{% block style %}
	{% include "styles_index.html" %}
    {% include "styles_login.html" %}
{% endblock %}
{% block header %}
	{% include "header.html" %}
{% endblock %}
{% block body %}
    <div>
        <h1>Создание автора</h1>
        <form method="post">
            <label>
                <input type="text" name="first_name" placeholder="Имя">
            </label>
            <label>
                <input type="text" name="last_name" placeholder="Фамилия">
            </label>
            <label>
                <input type="text" name="short_info" placeholder="Краткая информация">
            </label>
            <button type="submit">Сохранить</button>
        </form>
    </div>
    <button class="btn">
         <a class="reg_link" href="/authors_list/">
             <span class="text">Список авторов</span>
        </a>
    </button>
    <button class="btn">
        <a class="reg_link" href="/category_list/">
            <span class="text">Назад</span>
        </a>
    </button>
{% endblock %}