<div class="footer">
    <div class="footer-wrapper">
         <div class="text-footer">
            <h3>Контакты</h3>
            <p>pavel.zabrovsiy@bk.ru</p>
            <p>8-800-555-35-35</p>
        </div>
        <div class="text-footer">
            <h3>Полезная информация</h3>
            <div class="social-link">
                <a href="#" class="s-link">
                    <img alt="" src="#">
                    <p>Наш VK</p>
                </a>
            </div>
            <div class="social-link">
                <a href="#" class="s-link">
                    <img alt="" src="#">
                    <p> Наш Telegam</p>
                </a>
            </div>
        </div>
        <div class="text-footer">
            <h3>Оставайтесь на связи</h3>
            <p>Подписаться на новости и рассылки</p>
            <form class="mail-form">
                <img alt="" src="#">
                <label>
                    <input type="email" name="email" placeholder=" ваш email">
                </label>
                <a href="#"><i class="em" aria-hidden="true"></i></a>
            </form>
        </div>
    </div>
</div>