<div class="header">
    <div class="site-logo">
        <div class="logo">
            <a href="#">
                <img alt="" src="#" class="logo-img">
            </a>
        </div>
    </div>
    <div class="header-menu-list">
        <div class="menulist">
            <div class="search-module_">
                <span class="search">
                    <form>
                        <div class="search_wrapper">
                            <input class="search_input" maxlength="150" placeholder=" Поиск" name="а">
                            <button class="search_btn" type="submit">Найти</button>
                        </div>
                    </form>
                </span>
            </div>
        </div>
        <div class="add-menu">
            <a href="/" class="pr-links">Главная</a>
            <a href="/about_us/" class="pr-links">О нас</a>
            <a href="/orders/" class="pr-links">Заказы</a>
        </div>
    </div>
    <div >
        <a class="login_link" href="/login/">Войти</a>
    </div>
</div>