{% extends "base.html" %}
{% block style %}
	{% include "styles_index.html" %}
{% endblock %}
{% block header %}
	{% include "header.html" %}
{% endblock %}
{% block body %}
	<div class="content">
		<div class="stock-literature">
			<h3>Акции: </h3>
			<div class="block">
				<img alt="" src="#">
				<h4>Алая чума до Адама</h4>
				<p>Джек Лондон</p>
				<h6>399 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Дама с Камелиями</h4>
				<p>Александр Дюма</p>
				<h6>299 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Братья Карамазовы</h4>
				<p>Федор Михайлович Достоевский</p>
				<h6>499 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Маленькая хозяйка большого дома</h4>
				<p>Джек Лондон</p>
				<h6>499 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Утиная охота</h4>
				<p>Александр Валентинович Вампилов</p>
				<h6>299 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Мастер и Маргарита</h4>
				<p>Михаил Афанасьевич Булгаков</p>
				<h6>299 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
		</div>
		<div class="popular-literature">
			<h3>Популярное</h3>
			<div class="block">
				<img alt="" src="#">
				<h4>Анна Каренина</h4>
				<p>Лев николаевич Толстой</p>
				<h6>299 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Капитанская дочка</h4>
				<p>Александр Сергеевич Пушкин</p>
				<h6>399 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Отцы и дети</h4>
				<p>Иван Сергеевич Тургеньев</p>
				<h6>399 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Преступление и наказание</h4>
				<p>Федор Михайлович Достоевский</p>
				<h6>599 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Война и мир (книга 1)</h4>
				<p>Лев Николаевич Толстой</p>
				<h6>399 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Война и мир (книга 2)</h4>
				<p>Лев Николаевич Толстой</p>
				<h6>399 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
		</div>
		<div class="recommendation">
			<h3>Рекоммендуем лично вам: </h3>
			<div class="block">
				<img alt="" src="#">
				<h4>Повесть о настоящем человеке</h4>
				<p>Борис Николаевич Полевой</p>
				<h6>199 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Степной волк</h4>
				<p>Герман Гёссе</p>
				<h6>699 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Странник по звездам</h4>
				<p>Джек Лондон</p>
				<h6>499 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Зима тревоги нашей</h4>
				<p>Джон Стейнбек</p>
				<h6>699 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Морской волк</h4>
				<p>Джек Лондон</p>
				<h6>299 руб</h6>
				<a href="#">Добавить в корзину</a>
			</div>
			<div class="block">
				<img alt="" src="#">
				<h4>Гранатовый браслет</h4>
				<h6>99 руб</h6>
				<p>Александр Иванович Куприн</p>
				<a href="#">Добавить в корзину</a>
			</div>
		</div>
	</div>
{% endblock %}
{% block footer %}
	{% include "footer.html" %}
{% endblock %}