{% extends "base.html" %}
{% block style %}
	{% include "styles_login.html" %}
{% endblock %}
{% block body %}
    <div class="form">
        <h1>Войти</h1>
        <div class="form-inputs">
            <form method="post">
                <div>
                    <label>
                        <input class="login_input" maxlength="150" placeholder="  Логин" name="login">
                    </label>
                </div>
                <div>
                    <label>
                        <input class="pass_input" maxlength="150" placeholder="  Пароль" name="password">
                    </label>
                </div>
                <button type="submit" style="margin: 15px; font-size: 18px; box-shadow: 3px 3px 5px 3px rgba(141, 141, 141, 0.94); cursor: pointer">
                    Войти
                </button>
            </form>
        </div>
        <button class="btn">
            <a class="reg_link" href="/">
                <span class="text">На главную</span>
            </a>
        </button>
        <button class="btn">
            <a class="reg_link" href="/registration/">
                <span class="text">Зарегистрироваться</span>
            </a>
        </button>
    </div>
{% endblock %}