{% extends "base.html" %}
{% block style %}
	{% include "styles_order.html" %}
{% endblock %}
{% block header %}
	{% include "header.html" %}
{% endblock %}
{% block body %}
	<div class="content">
		<div class="stock-literature">
			<h3>Мои заказы</h3>
				<div class="block">
					<img alt="" src="static/img/books/sales/alaya.jpg">
					<h4>Алая чума до Адама</h4>
					<p>Джек Лондон</p>
					<h6>399 руб</h6>
				</div>
				<div class="block">
					<img alt="" src="static/img/books/sales/dama.jpg">
					<h4>Дама с Камелиями</h4>
					<p>Александр Дюма</p>
					<h6>299 руб</h6>
				</div>
				<div class="block">
					<img alt="" src="static/img/books/sales/brats.jpg">
					<h4>Братья Карамазовы</h4>
					<p>Федор Михайлович Достоевский</p>
					<h6>499 руб</h6>
				</div>
				<div class="block">
					<img alt="" src="static/img/books/sales/little.jpg">
					<h4>Маленькая хозяйка большого дома</h4>
					<p>Джек Лондон</p>
					<h6>499 руб</h6>
				</div>
				<div class="block">
					<img alt="" src="static/img/books/sales/ducks.jpg">
					<h4>Утиная охота</h4>
					<p>Александр Валентинович Вампилов</p>
					<h6>299 руб</h6>
				</div>
				<div class="block">
					<img alt="" src="static/img/books/sales/master.jpg">
					<h4>Мастер и Маргарита</h4>
					<p>Михаил Афанасьевич Булгаков</p>
					<h6>299 руб</h6>
				</div>
			</div>
		</div>
{% endblock %}
{% block footer %}
	{% include "footer.html" %}
{% endblock %}