{% extends "base.html" %}
{% block style %}
	{% include "styles_registration.html" %}
{% endblock %}
{% block body %}
    <div class="form">
        <h1>Регистрация</h1>
        <div class="form-inputs">
            <form method="post">
                <div>
                    <label>
                        <input class="login_input" maxlength="150" placeholder="  Логин" name="login">
                    </label>
                </div>
                <div>
                    <label>
                        <input class="pass_input" maxlength="150" placeholder="  Пароль" name="password">
                    </label>
                </div>
                 <div>
                    <label>
                        <input class="pass_input" maxlength="150" placeholder="  Повторите пароль" name="password">
                    </label>
                </div>
                <div>
                    <label>
                        <input class="pass_input" maxlength="150" placeholder="  Имя" name="name">
                    </label>
                </div>
                <div>
                    <label>
                        <input class="pass_input" maxlength="150" placeholder="  Фамилия" name="lasname">
                    </label>
                </div>
                <p><label for="location" class="title">Возраст:</label>
					 <select name="age" id="location" class="select">
						 <option value="child">до 18</option>
						 <option value="young">18-25</option>
						 <option value="middle">25-40</option>
                         <option value="age">40+</option>
					 </select></p>
                <button class="btn reg">
                    <span class="text">Зарегистрироваться</span>
                </button>
            </form>
            <button class="btn">
                <a class="reg_link" href="/">
                    <span class="text">На главную</span>
                </a>
            </button>
            <button class="btn">
                <a class="reg_link" href="/login/">
                    <span class="text">Войти</span>
                </a>
            </button>
        </div>
    </div>
{% endblock %}