<style type="text/css">
    body {
        font-family: sans-serif;
        position: relative;
        color: black;
    }

    h3{
        font-family: Luminari fantasy;
        font-size: 35px;
    }

    input {
        outline: 0;
        outline-offset: 0;
    }

    .header {
        width: 100%;
        height: 165px;
        margin-bottom: 20px;
        background-color: #ffffffbf;
    }

    .site-logo {
        display: inline-block;
        position: absolute;
        top: 0;
    }

    .logo{
        margin-left: 20px;
    }

    .logo img {
        margin-top: 10px;
        border-radius: 7px;
    }

    .logo .a {
        width: 100%;
        height: 100%;
    }

    .header-menu-list {
        position: absolute;
        padding: 20px 40px;
        display: inline-block;
        overflow: hidden;
        margin-left: 450px;
    }

    .menulist {
        width: 100%;
        display: inline-block;
    }

    .search-module_ {
        display: inline-block;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        margin-bottom: 10px;
        vertical-align: middle;
    }

    .search_wrapper {
        background-color: #f7802bb5;
        border-radius: 13px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    }

    .search_input {
        width: 850px;
        height: 35px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 7px;
        border-radius: 7px;
        border: 1px solid;
        border-color: #f7802bb5;
        font-size: 20px;
    }

    .search_input:focus {
        border: 1px solid;
    }

    .search_btn {
        font-size: 20px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 7px;
        border-radius: 5px;
        border: 1px solid;
        border-color: #f7802bb5;
    }

    .add-menu {
        margin-left: 30px;
    }

    .add-menu .active {
        text-decoration: underline;
    }

    .pr-links{
        font-size: 18px;
        margin-right: 5px;
        color: #952801;
        text-decoration: none;
        font-weight: bold;
    }

    .pr-links:hover{
        color: #c79a1b;
    }

    .content {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .footer {
        text-align: center;
        margin-top: 10px;
        height: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        background-color: #ffffffbf;
    }

    .footer-wrapper {
        height: 150px;
        text-align: center;
        padding-left: 136px;
        padding-right: 136px;
        color: black;
        border-top: solid 1px;
        margin-bottom: 5px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    }

    .text-footer {
        vertical-align: center;
        display: inline-block;
        margin: 5px;
    }

    .text-footer p {
        margin: 10px;
    }

    .text-footer h3 {
        font-size: 20px;
        margin: 10px;
        text-decoration: none;
    }

    .social-link {
         display: inline-block;
         margin: 5px;
    }

    .social-link p {
        margin: 7px;
        color: black;
    }

    .s-link {
        text-decoration: none;
    }

    .mail-form {
        margin: 5px;
    }

    .info h3 {
        margin: 5px;
        margin-bottom: 20px;
    }

    .login_link {
        text-decoration: none;
        color:  #952801;
        font-size: 22px;
        float: right;
        font-weight: bold;
        margin-top: 50px;
        margin-right: 40px;

    }

    .login_link:hover {
        color: #952801;
    }
</style>